* {
     font-family: AvenirNext LT Pro !important;
 }

h2 {
    font-size: 28px !important;
    font-weight: 600;
}

.uk-card-title {
    font-size: 28px !important;
    font-weight: 500;
}

.ctaButton {
    padding: 0 85px!important;
    font-size: 15px;
    letter-spacing: 1px !important;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    transition: all .3s;
    border: 0 solid #0081ff;
    border-radius: 40px;
    color: #fff;
    background-color: #0081ff;
    box-shadow: 0 10px 30px 0 rgba( 37,37,37,.5 );
    line-height: 80px!important;
    display: table-cell;
    vertical-align: middle;
    line-height: 60px !important;
}

@media all and (max-width: 600px) {
    .ctaButton {
        line-height: 35px !important;
    }
}

.ctaButtonModal {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    box-shadow: unset !important;
}

.ctaButton:hover {
    box-shadow: 0 15px 50px 0 rgba( 0,129,255,.5 ) !important;
}

blockquote {
    font-family: "AvenirNext LT Pro MediumIt" !important;
}

.uk-button {
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
}

.uk-alert {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

.uk-modal-body > h3 {
    font-size: 22px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

th {
    text-align:center !important;
}

.uk-pagination {
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
}

.dashboard-card {
    font-weight: 500;
    font-size: 32px;
}

.bold-text {
    font-weight: 500;
}

td {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th {
    font-weight: 500 !important;
    letter-spacing: 1px;
    color: #333 !important;
    text-transform: capitalize !important;
}

.svg-icon {
    width: 20px;
    margin: 20px;
    filter: invert(37%) sepia(69%) saturate(1303%) hue-rotate(188deg) brightness(100%) contrast(102%);
}

.modal-border {
    cursor: pointer;
    border-style: solid;
    border-color: #7575754a;
    border-width: 1px;
}

.svg-popup {
    width: 20%;
    filter: invert(41%) sepia(98%) saturate(3786%) hue-rotate(201deg) brightness(105%) contrast(97%);
}

textarea {
    font-weight: 500 !important;
}

.popup-text {
    font-weight: 400 !important;
    font-size: medium !important;
    color: white !important;
}

.small-text {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}

.rs-container .rs-selected {
    background-color: #0083ff5e;
    border: 1px solid rgba(30, 135, 241, 0.69);
}

.rs-tooltip {
    border: 1px solid rgba(20, 60, 120, 0.2);
}

ins {
    background: initial;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.pagination {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 25px;
}

tr:hover {
    background-color: rgba(0, 131, 255, 0.06) !important;
}