@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro It';
    src: url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro BoldCn';
    src: url('../fonts/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('../fonts/AvenirNextLTPro-MediumCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumCnIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLightCn';
    src: url('../fonts/AvenirNextLTPro-UltLtCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro HeavyCnIt';
    src: url('../fonts/AvenirNextLTPro-HeavyCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLightCn';
    src: url('../fonts/AvenirNextLTPro-UltLtCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro DemiCnIt';
    src: url('../fonts/AvenirNextLTPro-DemiCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiCnIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Demi';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-DemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumIt';
    src: url('../fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro BoldCnIt';
    src: url('../fonts/AvenirNextLTPro-BoldCnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldCnIt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-Cn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('../fonts/AvenirNextLTPro-CnIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-CnIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('../fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro HeavyCn';
    src: url('../fonts/AvenirNextLTPro-HeavyCn.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-HeavyCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

